   body,
        html {
            height: 100%;
            margin: 0;
            background: url('../img/bg.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .chat {
            position: absolute;
            right: 475px;
            bottom: 90px;
            display: none;
        }

        .fab {
            position: fixed;
            bottom: 60px;
            right: 250px;
            cursor:pointer;
        }

        .fab button {
            cursor: pointer;
            width: 48px;
            height: 48px;
            border-radius: 30px;
            background-color: #cb60b3;
            border: none;
            box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
            font-size: 24px;
            color: white;

            -webkit-transition: .2s ease-out;
            -moz-transition: .2s ease-out;
            transition: .2s ease-out;
        }

        .fab button.main {
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            background-color: #5b19b7;
            right: 0;
            bottom: 0;
            z-index: 20;
        }

        .fab button.main:before {
            content: '💬';
        }